body {
  font-family: 'Varela Round', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar{
  top: 0;
  left: 0;
  width: 250px;
  margin-left: 0;
  position: fixed;
  background-color: #000;
  border-radius: 0;
  border: 0;
}

.column-left{
  width: 250px;
  height: 480px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.spotify{
  font-size: 25px;
  font-weight: bold;
}

ul{
  list-style-type: none;
  margin: 0;
}

ul li a{
  font-size: 13px;
  color: #fff;
}

.list-inline{
  padding: 50px;
}

.under-button a{
  margin-bottom: 60px;
  color: #fff;
  text-decoration: none;
}

ul{
  margin: 0;
}

.fa-spotify,
.fa-home,
.fa-search,
.fa-book-open{
  color: #fff;
  padding: 5px;
  margin-top: 10px;
}

.btn-default{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}

.btn-black{
  background-color: #000;
  color: #fff;
}

.btn-default{
  border-radius: 20px;
  height: 40px;
  width: 200px;
}
 /*COLUMN RIGHT*/
section{
  background-image: linear-gradient(to right bottom, #343434, #28292a, #1d1f1f, #121514, #040600);
  height: 1000px;
  margin: 0;
}

.up:hover{
  text-decoration:none;
  color: #fff;;
  font-weight: bold;
}

 h1{
   font-weight: bold;
   color: #fff;
   margin-left: 0;
   margin-top: 0;
 }

 p{
   color: #fff;
   text-align: center;
 }

/*PRIME IMMAGINI*/
.flexbox{
  float: right;
  width: 75%;
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

img{
  padding: 10px;
}
/*FOOTER*/
.play{
  background-color: #454140;
  height: 100px;
}

.fa-random,
.fa-step-backward,
.fa-play,
.fa-step-forward{
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.fa-play{
  border: 1px solid white;
  border-radius: 20px;
}
