body {
  font-family: 'Varela Round', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar{
  top: 0;
  left: 0;
  width: 250px;
  margin-left: 0;
  position: fixed;
  background-color: #000;
  border-radius: 0;
  border: 0;

}

.column-left{
  width: 250px;
  height: 520px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.spotify{
  font-size: 25px;
  font-weight: bold;
}

ul li a, .under-button a{
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}

ul{
  margin: 0;
}

.fa-spotify,
.fa-home,
.fa-search,
.fa-book-open{
  color: #fff;
  padding: 5px;
  margin-top: 10px;
}

.btn-default{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}

.btn-black{
  background-color: #000;
  color: #fff;
}

.btn-default{
  border-radius: 20px;
  height: 40px;
  width: 200px;
}
 /*COLUMN RIGHT TOP*/
.container{
  background-image: linear-gradient(to right bottom, #343434, #28292a, #1d1f1f, #121514, #040600);
  color: #fff;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.top-container{
  height: 50px;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.top-container ul li{
  font-weight: bold;
  list-style: none;
  display: inline-block;
}

.title{
 font-weight: bold;
 color: #fff;
 margin-left: 0;
 margin-top: 0;
}

.img-fixed{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2%;
  flex-flow: row wrap;
}

p{
 color: #fff;
 text-align: center;
}

/*COLUMN RIGHT UNDER TOP*/
.flexbox{
  float: right;
  width: 75%;
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

img{
  padding: 5px;
  width: 150px;
  height: 150px;
}

/*FOOTER*/
.player{
  background-color: #454140;
  height: 73px;
  width: 100vw;
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.fa-random,
.fa-step-backward,
.fa-play,
.fa-step-forward{
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.fa-play{
  border: 1px solid white;
  border-radius: 20px;
}

@media screen and (max-width:768px) {
  .navbar{
    width: 100px;
  }

  .first-image{
    flex-direction: column;
  }

  section > .container {
    margin-left: 80px;
  }

  .top-container {
    display: none;
  }

  .container h1 {
    font-size: 20px;
    line-height: 150%;
    padding: 0 30px;
  }
  .footer i {
    display: none;
  }
}

@media screen and (min-width:768px) and (max-width:992px){
  .navbar {
    width: 80px;
    text-align: center;
  }

  .navbar .row span {
    display: none;
  }

  main > .container{
    margin-left: 80px;
  }
}
