body {
  font-family: 'Varela Round', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar{
  top: 0;
  left: 0;
  width: 250px;
  margin-left: 0;
  position: fixed;
}

.column-left{
  width: 250px;
  height: 500px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.row{
  background-color: #000;
}

.spotify{
  font-size: 25px;
  font-weight: bold;
}

ul{
  list-style-type: none;
  margin: 0;
}

ul li a{
  font-size: 13px;
  color: #fff;
}

.under-button a{
  margin-bottom: 60px;
  color: #fff;
  text-decoration: none;
}

ul{
  margin: 0;
}

.fa-spotify,
.fa-home,
.fa-search,
.fa-book-open{
  color: #fff;
  padding: 5px;
}

.btn-default{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}

.btn-black{
  background-color: #000;
  color: #fff;
}

.btn-default{
  border-radius: 20px;
  height: 40px;
  width: 200px;
}
 /*COLUMN RIGHT*/
